<!-- Hero Section-->
<section style="background: url(assets/img/cover-bcg2.jpg); background-size: cover; background-position: center center"
  class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1>Данный сайт посвящен пикапу — искусству соблазнения девушек.</h1>
        <a href="#" class="hero-link">Узнать больше...</a>
      </div>
    </div>
    <!-- <a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Вниз</a> -->
  </div>
</section>
<!-- Intro Section-->
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="h3">Приветствую тебя на страницах нашего ресурса!</h2>
        <p class="text-big">
          Ты попал на пикаперский сайт <strong>Соблазнение.com</strong>.
          Читая наш сайт, ты узнаешь о том, как соблазнять девушек, используя реально работающие техники пикапа, НЛП и
          гипноза, как правильно строить отношения,
          заводить друзей, эффективно общаться, добиваться успеха, быть мужественным и желанным.
          Особенно, рекомендую использовать форум, где ты можеш спросить совет у профессиональных пикаперов
          и получить исчерпывающие ответы.
          Если для тебя интересны такие понятия, как пикап и соблазнение, то ты попал по адресу. <strong>Успехов тебе,
            друг!</strong>
      </div>
    </div>
  </div>
</section>
<section class="featured-posts no-padding-top">
  <div class="container">
    <!-- Post-->
    <div class="row d-flex align-items-stretch">
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category"><a href="#">Знакомство</a></div><a href="post.html">
                <h2 class="h4">Куда сходить с девушкой на свидание: раскрываем пароли и явки</h2>
              </a>
            </header>
            <p>Давай рассмотрим, куда можно сводить девушку.</p>
            <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                <div class="avatar"><img src="assets/img/avatar-1.jpg" alt="..." class="img-fluid"></div>
                <div class="title"><span>Эксперт</span></div>
              </a>
              <div class="date"><i class="icon-clock"></i> 2 месяца назад</div>
              <div class="comments"><i class="icon-comment"></i>12</div>
            </footer>
          </div>
        </div>
      </div>
      <div class="image col-lg-5" [style.min-height.px]="postImageHeight">
        <img src="assets/img/devushka-v-kafe.jpg" alt="...">
      </div>
    </div>
    <!-- Post        -->
    <div class="row d-flex align-items-stretch">
      <div class="image col-lg-5" [style.min-height.px]="postImageHeight">
        <img src="assets/img/devushka_s_noutbukom.jpg" alt="...">
      </div>
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category"><a href="#">Знакомство</a></div><a href="post.html">
                <h2 class="h4">Как начать знакомство с девушкой в интернете</h2>
              </a>
            </header>
            <p>Девушек в сети много, но не стоит обольщаться. Если ты решил вступить на тернистый путь виртуальной
              переписки, для начала проверь арсенал. У тебя только два средства поразить ее до глубины души на этом
              этапе знакомства:</p>
            <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                <div class="avatar"><img src="assets/img/avatar-2.jpg" alt="..." class="img-fluid"></div>
                <div class="title"><span>Эксперт</span></div>
              </a>
              <div class="date"><i class="icon-clock"></i> 2 месяца назад</div>
              <div class="comments"><i class="icon-comment"></i>12</div>
            </footer>
          </div>
        </div>
      </div>
    </div>
    <!-- Post                            -->
    <div class="row d-flex align-items-stretch">
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category"><a href="#">Секс</a></div><a href="post.html">
                <h2 class="h4">Как вернуть секс в отношения?</h2>
              </a>
            </header>
            <p>
              Когда из отношений пропадает секс, решать проблему нужно комплексно. Читай, какие меры позволят наладить
              интимную жизнь в паре.
            </p>
            <footer class="post-footer d-flex align-items-center">
              <a href="#" class="author d-flex align-items-center flex-wrap">
                <div class="avatar"><img src="assets/img/avatar-3.jpg" alt="..." class="img-fluid"></div>
                <div class="title"><span>Эксперт</span></div>
              </a>
              <div class="date"><i class="icon-clock"></i> 2 месяца назад</div>
              <div class="comments"><i class="icon-comment"></i>12</div>
            </footer>
          </div>
        </div>
      </div>
      <div class="image col-lg-5" [style.min-height.px]="postImageHeight">
        <img src="assets/img/problemi_v_sekse.jpg" alt="...">
      </div>
    </div>
  </div>
</section>
<!-- Divider Section-->
<section style="background: url(assets/img/devushka_s_rozoi.jpg); background-size: cover; background-position: center bottom"
  class="divider">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2>
          Бесплатный Мастер-класс
          <br>
          "Как познакомиться с девушкой?"
          <br>
          Преодолей страхи, обрети уверенность
          <br>
          и познакомься с девушкой уже
          <br>
          14 Ноября в 19-30
        </h2>
        <a href="#" class="hero-link">Записаться на Бесплатный Мастер-класс</a>
      </div>
    </div>
  </div>
</section>
<!-- Latest Posts -->
<section class="latest-posts">
  <div class="container">
    <header>
      <h2>Последние статьи из блога</h2>
      <p class="text-big">Пикап для парней — статьи о соблазнении. Узнай всё что нужно и более!</p>
    </header>
    <div class="row">
      <div class="post col-md-4">
        <div class="post-thumbnail"><a href="post.html"><img src="assets/img/devushka-v-kafe.jpg" alt="..." class="img-fluid"></a></div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">20 Мая | 2018</div>
            <div class="category"><a href="#">Знакомство</a></div>
          </div>
          <a href="post.html">
            <h3 class="h4">Куда сходить с девушкой на свидание: раскрываем пароли и явки</h3>
          </a>
          <p class="text-muted">Давай рассмотрим, куда можно сводить девушку.</p>
        </div>
      </div>
      <div class="post col-md-4">
        <div class="post-thumbnail"><a href="post.html"><img src="assets/img/devushka_s_noutbukom.jpg" alt="..." class="img-fluid"></a></div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">20 Мая | 2018</div>
            <div class="category"><a href="#">Знакомство</a></div>
          </div><a href="post.html">
            <h3 class="h4">Как начать знакомство с девушкой в интернете</h3>
          </a>
          <p class="text-muted">Девушек в сети много, но не стоит обольщаться. Если ты решил вступить на тернистый путь
            виртуальной
            переписки, для начала проверь арсенал. У тебя только два средства поразить ее до глубины души на этом
            этапе знакомства:</p>
        </div>
      </div>
      <div class="post col-md-4">
        <div class="post-thumbnail"><a href="post.html"><img src="assets/img/problemi_v_sekse.jpg" alt="..." class="img-fluid"></a></div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">20 Мая | 2018</div>
            <div class="category"><a href="#">Секс</a></div>
          </div><a href="post.html">
            <h3 class="h4">Как вернуть секс в отношения?</h3>
          </a>
          <p class="text-muted">Когда из отношений пропадает секс, решать проблему нужно комплексно. Читай, какие меры
            позволят наладить
            интимную жизнь в паре.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Newsletter Section-->
<section class="newsletter no-padding-top">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Подписаться на рассылку</h2>
        <p class="text-big">Будь в курсе, подпишись на рассылку свежих статей.</p>
      </div>
      <div class="col-md-8">
        <div class="form-holder">
          <form action="#">
            <div class="form-group">
              <input type="email" name="email" id="email" placeholder="Введите адрес электронной почты">
              <button type="submit" class="submit">Подписаться</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Gallery Section-->
<section class="gallery no-padding">
