<div id="navbarcollapse" class="collapse navbar-collapse">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a [routerLink]="['/']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="nav-link">Главная</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/blog']" routerLinkActive="active" class="nav-link">Статьи</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/forum']" routerLinkActive="active" class="nav-link">Форум</a>
    </li>
  </ul>
  <div class="navbar-text">
    <a href="#" class="search-btn"><i class="icon-search-1"></i></a>
  </div>
  <!-- <div class="ml-4">
    <a class="btn btn-sm btn-outline-secondary" href="#">Регистрация</a>
  </div> -->
  <!-- <ul class="langs navbar-text">
    <a href="#" class="active">EN</a>
    <span></span>
    <a href="#">ES</a>
  </ul> -->
</div>