<div class="widget categories">
  <header>
    <h3 class="h6">Категории</h3>
  </header>
  <div class="item d-flex justify-content-between"><a href="#">Знакомство</a><span>12</span></div>
  <div class="item d-flex justify-content-between"><a href="#">Ухаживания</a><span>25</span></div>
  <div class="item d-flex justify-content-between"><a href="#">Отношения</a><span>8</span></div>
  <div class="item d-flex justify-content-between"><a href="#">Секс</a><span>17</span></div>
  <div class="item d-flex justify-content-between"><a href="#">Расставание</a><span>25</span></div>
  <div class="item d-flex justify-content-between"><a href="#">Возврат</a><span>12</span></div>
  <div class="item d-flex justify-content-between"><a href="#">Дружба</a><span>25</span></div>
  <div class="item d-flex justify-content-between"><a href="#">Школа мужества</a><span>8</span></div>
  <div class="item d-flex justify-content-between"><a href="#">Школа женственности</a><span>17</span></div>
  <div class="item d-flex justify-content-between"><a href="#">НЛП</a><span>25</span></div>
  <div class="item d-flex justify-content-between"><a href="#">Стиль</a><span>8</span></div>
</div>